*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

background:#111;

color:white;

font-family:'Rajdhani',sans-serif;

}

header{

background:#0d0d0d;

padding:25px;

text-align:center;

border-bottom:2px solid #00c3ff;

}

.logo{

width:180px;

margin-bottom:15px;

}

header h1{

font-size:55px;

letter-spacing:3px;

color:#00c3ff;

}

header p{

font-size:22px;

color:#ccc;

}

.hero{

height:80vh;

background:url(fondo.png);

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

}

.overlay{

background:rgba(0,0,0,.70);

padding:60px;

border-radius:20px;

text-align:center;

}

.overlay h2{

font-size:60px;

margin-bottom:20px;

}

.overlay p{

font-size:22px;

max-width:700px;

margin:auto;

}

.btn{

display:inline-block;

margin-top:35px;

padding:15px 40px;

background:#00c3ff;

color:white;

text-decoration:none;

border-radius:50px;

font-size:22px;

transition:.3s;

}

.btn:hover{

background:#0085b2;

transform:scale(1.05);

}

section{

padding:90px 8%;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:35px;

margin-top:50px;

}

.card{

background:#1d1d1d;

padding:30px;

border-radius:18px;

border:2px solid #00c3ff;

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card h3{

font-size:30px;

margin-bottom:20px;

}

.card li{

margin:12px 0;

font-size:20px;

}

footer{

padding:35px;

background:#0d0d0d;

text-align:center;

margin-top:50px;

color:#888;

}
